.Home .wrapper{
	background-color: transparent;
	margin: auto;
	text-align: center;
}
	.Home .img-circle {
    border: 10px solid white;
    width: 50%;
    max-width: 300px;
		min-width: 190px;
    top: 10px;
    position: relative;
  }
	.Home .banner {
		background-color: rgba(255, 255, 255, .5);
		color: black;
		padding: 20px;
	}
	.Home h1 {
		padding: 10px;
	}
