.App {
	margin-top: 15px;
	font-size: 18px;
}
	.App .navbar-brand {
		font-weight: bold;
	}
	.App .navbar {
		z-index: 1010;
	}
	.App .glyphicon {
		font-size: 22px;
	}
	.App .container-fluid {
		max-width: 1220px;
	}
	.App #nav-dropdown {
		background-color: bisque
	}

.save-button,
.delete-button {
	background-image: none;
	text-shadow: none;
}
.save-button {
	background-color: green;
	color: white;
}
.delete-button:hover {
	background-color: crimson;
	color: white;
}

.error-message {
	color: red;
}

input[type="file"] {
	color: transparent;
	display: inline-block;
}

.Home,
.RecipeBoard,
.Signup,
.Login,
.PatronProfile {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: calc(10% + 50px);
	margin-bottom: 20%;
	min-height: 80vh;
}
	.Login .wrapper,
	.Signup .wrapper {
		padding: 60px 0;
		background-color: rgba(255,255,255,0.9);
		width: 80%;
		max-width: 500px;
		border-radius: 15px;
		text-align: center;
	}
		.Login .wrapper form span.help-block,
		.Signup .wrapper form span.help-block {
			font-size: 14px;
			padding-bottom: 10px;
			color: #999;
		}
		.Login form,
		.Signup form {
			margin: 0 auto;
			max-width: 450px;
			width: 70%;
		}

		.Login img,
		.Signup img {
			width: 70%;
			max-width: 180px;
		}
